.gridbaggrund {
  background-image: url(../bastian_img/Grid_baggrund.png);
}
.button_column {
    display: grid;
    grid-template-columns: 1fr 8fr;
}
.grid_1-1 {
    display: grd;
    grid-template-columns: 1fr 1fr;
}
.ikon_grid {
    display: gid;
    grid-template-columns: 1fr 10fr;
}

.lokationtxt {
    background-color: white;
    padding-left: 50px;
    font-size: 14px;
}

@media (max-width: 700px) {
.barcode {
  max-height: 0%;
  position: absolute;
}
  article {
    display: contents;
    background-color: #f9d3e6;
    box-shadow: 5px 5px 5px 0px rgba(138, 138, 138, 0.32);
    margin-inline-start: 18%;
    margin-inline-end: 18%;
  }
  .grid_card {
    display: grid;
    grid-template-columns: 1fr;
}
.lokationikon {
    max-width: 100%;
  position: absolute;
 
}
.svampebillede {
  max-width: 100%;
}
.sæsonikon {
    max-width: 80%;
    position: absolute;
}
}
@media (min-width: 700px) {
    .grid_card {
        display: grid;
        grid-template-columns: 1fr 1fr 0.8fr;
      }
      .barcode {
        position: absolute;
        max-height: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left:67%;
      }
      .idcolumn {
        border-style: dashed;
        border-width: 0px 0px 0px 2px;
        border-color: white;
    }
    .landskabbillede {
        max-height:0%;
        position: absolute;
    }
    .lokationikon {
        max-width: 100%;
      position: absolute;
      left: 40%;
    }
    .sæsonikon {
        max-width: 80%;
        position: absolute;
        left: 40%;
    }
}

.produkth1 {
  color: #1abeae;
  text-align: center;
}
.produkth2 {
  font-size: 15px;
}
.sæsoner {
    font-size: 14px;
    background-color: white;
    padding: 8px;
    padding-left: 55px;
}
.divider {
    padding:7%;
}
.systemid {
    color: white;
    text-align: center;
}
 {
  margin: 0;
  padding: 0;
}
section {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

article {
  display: contents;
  background-color: #f9d3e6;
  box-shadow: 5px 5px 5px 0px rgba(138, 138, 138, 0.32);
  margin-inline-start: 18%;
  margin-inline-end: 18%;
  top
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
  grid-row: span 4;


}

article .img1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
}

article .img2 {
  width: 50%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
  margin-left: auto;
}

main h1,
h2,
h4,
div,
p {
  padding: 0.5rem;
}
