body {
  background-image: url(/img/Grid_baggrund.png);
}

main {
  margin-left: 2rem;
  margin-right: 2rem;
}
/****** FONTE ******/
h1 {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
h3 {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;

  color: #595656;
}

p {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

/****** KATEGORIER ******/

.all_mushrooms h1 {
  color: #595656;
  margin-bottom: 2%;
  margin-left: 3%;
  font-size: 2rem;
  margin-top: 0.5%;
}

/* DARKMODE */
.darkMode {
  background-image: url(/img/darkmode_baggrund.png);
  /* background-color: #4a4a4a;
  color: #dedede; */
  transition: opacity 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  img {
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

/* GO BACK BUTTON */
button {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  color: #656565;
  background-color: #ffffff;
  padding: 0.3%;
  margin-left: 1%;

  border-color: transparent; /* background-color: #fad0e7; */
  border-radius: 0px;
  /* box-shadow: 3px 3px 3px 0px rgba(138, 138, 138, 0.32); */
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  line-height: -1.5;
}

button:hover {
  color: #1abeae;
}
button:active {
  box-shadow: 5px 5px 5px 0px rgba(138, 138, 138, 0.32) inset;
  transform: scale(0.95);
  color: #f35a5a;
}
.goBackLink {
  position: sticky;
  top: auto;
  left: 0;
  width: auto;
  z-index: 4;
  opacity: 0.8;
  transform: rotate(-10deg);
}
.goBackLink button {
  position: absolute;
  top: -5.9rem;
  left: 0;

  text-align: center;
  background-color: transparent;
  border: transparent;
  padding: 2rem;
  font-family: "Mansalva", sans-serif;
  font-size: 1rem;
}
.pinkpaper {
  position: absolute;
  top: -8rem;
  left: 0;
  width: 10rem;
  height: auto;
  background-image: url("/img/pinkpaper.png");
  z-index: -3;
  transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow {
  position: absolute;
  left: 2rem;
  top: -5rem;
  width: 5rem;
  transform: rotateY(180deg);
  z-index: 7;
  transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.goBackLink:hover {
  opacity: 1;
  cursor: pointer;
}
.goBackLink:hover .pinkpaper {
  transform: rotate(15deg);
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.goBackLink:hover button {
  transform: scale(1.2);

  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
