body {
  background-image: url(/img/Grid_baggrund.png);
}

main {
  margin-left: 2rem;
  margin-right: 2rem;
}
/****** FONTE ******/
h1 {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
h3 {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;

  color: #595656;
}

p {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

/****** KATEGORIER ******/

.all_mushrooms h1 {
  color: #595656;
  margin-bottom: 2%;
  margin-left: 3%;
  font-size: 2rem;
  margin-top: 0.5%;
}

/* DARKMODE */
.darkMode {
  background-image: url(/img/darkmode_baggrund.png);
  /* background-color: #4a4a4a;
  color: #dedede; */
  transition: opacity 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  img {
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}
