* {
  margin: 0;
  padding: 0;
}

.flex1 {
  display: flex;
  justify-content: space-around;
}

section {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.produktliste2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* category style */
.choose-cat {
  color: #2f2f2f;
  background-color: #e9f7fd;
  margin: 1rem;
  border-radius: 5px;
  overflow-x: auto;
  padding: 1rem;
  box-shadow: 0 0 10px rgb(130, 125, 125);
}

.pins {
  width: 7%;

  height: auto;
}

.pins:first-child {
  transform: scaleX(1);
  width: 2%;

  height: auto;
}

.flexbox1 {
  display: flex;
  flex-wrap: wrap;
}

.flexbox1 a {
  margin: 5px;
  padding: 0.6rem;
}

/* CTA1 */
.cta1 {
  color: #6e6e6e;
  font-family: "Jockey One", sans-serif;
  text-decoration: none;
  background-color: #f4d9e8;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 0px rgba(138, 138, 138, 0.32);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cta1:hover {
  box-shadow: 3px 3px 3px 0px rgba(138, 138, 138, 0.32) inset;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

  background-color: #f291c0;
  color: #1abeae;
}
.cta1:active {
  box-shadow: 5px 5px 5px 0px rgba(138, 138, 138, 0.32) inset;
  transform: scale(0.95);
  color: #f35a5a;
}

/* DARKMODE */
.darkMode {
  background-image: url(/img/darkmode_baggrund.png);
  /* background-color: #4a4a4a;
  color: #dedede; */
  transition: opacity 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  img {
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}
