/* MENU - DESKTOP */
header nav .menu {
  display: flex;

  padding: 1%;
  background-color: #ffffff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
}

.menu a {
  display: block;
  padding: 5px;
  color: #302b21;
  text-decoration: none;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

.menu a:hover {
  color: rgb(108, 99, 104);

  transition: text-shadow 0.3s ease;
}

.logo a {
  text-decoration: none;
  color: #302b21;
}

.logo a:hover {
  color: rgba(255, 211, 235, 1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: text-shadow 0.3s ease;
}

.logo img {
  width: 130px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

.topmenu_container {
  display: flex;
  justify-content: end;
  gap: 0.5%;
  align-items: center;
  background-color: #ffffff;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.topmenu_container button {
  margin-right: auto;
}

.profil_icon img {
  width: 55%;
  height: auto;
}

.profil_icon img:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.sprog_container {
  display: flex;

  justify-content: flex-end;
  margin-right: 0.8%;
  margin-bottom: 0.5%;
  text-decoration: none;
}

.sprog_container a {
  text-decoration: none;
  margin-right: 10px; /* Adjust the spacing between the links if needed */
  color: #5d584f;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin: 0; /* Remove default margin for the h2 elements */
}

.sprog_container a:hover {
  color: rgb(0, 0, 0);
}

/* MENU - MOBIl */
@media screen and (max-width: 800px) {
  .menu {
    display: none;
    margin-top: 2%;
    justify-content: center;
  }

  .burger {
    width: 30px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #302b21;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #e5e2e0;
    position: absolute;
    text-align: center;
    top: 40px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  nav:not(.active) .menu li {
    display: none;
  }

  nav:not(.active) .menu li.logo {
    display: block; /* Show the logo in the menu when it's closed */
  }
}
