@media (min-width: 800px) {
  /* .grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  } */

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
  }
}

.tekst_boks {
  margin: 2rem;
  border-radius: 30px;
  border: 10px solid #fff;
  background-color: #ffff;
  height: 20%;
  z-index: 20;
  text-align: center;
}

.clips {
  top: 30%;
  left: 20%;
  transform: translate(715px, -132%);
  width: 50px;
}

.stroke {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  border: 8px solid #ffd3eb;
  border-radius: 30px;
}

.cirkel {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.ydre_cirkel {
  width: 440px;
  height: 440px;
  position: relative;
  border-radius: 50%;
  margin: auto;
}

.cirkel img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.cirkel p {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f291c0;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  text-transform: uppercase;
}

/* Farve på cirkler*/

#svamp_ydrecirkel {
  grid-area: 2 / 1 / 3 / 2;
  align-self: end;
  justify-self: center;
  border: 5px solid #a0ec50;
}

#svamp_cirkel {
  border: 20px solid rgba(255, 211, 235, 0.76);
}

#blomster_ydrecirkel {
  grid-area: 2 / 2 / 3 / 5;
  align-self: end;
  justify-self: center;
  border: 5px solid #eedbfe;
}
#blomster_cirkel {
  border: 20px solid rgba(166, 222, 216, 0.76);
}

#bær_ydrecirkel {
  grid-area: 3 / 1 / 4 / 3;
  justify-self: center;
  align-self: end;
  border: 5px solid #ffd3eb;
}
#bær_cirkel {
  border: 20px solid rgba(233, 243, 90, 0.76);
}

#strandurter_ydrecirkel {
  grid-area: 2 / 3 / 6 / 4;
  justify-self: start;
  align-self: center;
  border: 5px solid #baec50;
}
#strandurter_cirkel {
  border: 20px solid rgba(225, 190, 253, 0.76);
}
